:root {
	--badges_background: var(--card_background);
	--badge_background: var(--header_background);
	--badge_border: var(--card_border);
}
/*badges */
.persephone-user_badges {
	width: calc(calc(128px * 3) + 1.6rem);
	margin: 0 auto;
	text-align: left;
}
.persephone-user_badges h1 {
	display: none;
}
.persephone-user_badges .badges {
	font-size: 0;
	background-color: var(--badges_background);
	border-radius: 0.5rem;
	padding: 0.2rem;
}
.user_profile_badge {
	display: inline-block;
	margin: 0.2rem;
	background-position: left;
	background-size: cover;
	font-size: 0;
	border-radius: 0.5rem;
	background-color: var(--badge_background);
	border: 1px solid var(--badge_border);
	width: 128px;
	height: 64px;
	box-sizing: border-box;
}
.user_profile_badge[data-badge=old_timer_1] {
	background-image: url(badge_old_timer_1.png);
}
.user_profile_badge[data-badge=old_timer_2] {
	background-image: url(badge_old_timer_2.png);
}
.user_profile_badge[data-badge=old_timer_3] {
	background-image: url(badge_old_timer_3.png);
}
.user_profile_badge[data-badge=old_timer_4] {
	background-image: url(badge_old_timer_4.png);
}
.user_profile_badge[data-badge=around_here] {
	background-image: url(badge_around_here.png);
}
.user_profile_badge[data-badge=hacker] {
	background-image: url(badge_hacker.png);
}
.user_profile_badge[data-badge=postal] {
	background-image: url(badge_postal.png);
}
.user_profile_badge[data-badge=connected_1] {
	background-image: url(badge_connected_1.png);
}
.user_profile_badge[data-badge=connected_2] {
	background-image: url(badge_connected_2.png);
}
.user_profile_badge[data-badge=extremely_online] {
	background-image: url(badge_extremely_online.png);
}
.user_profile_badge[data-badge=rsvp_1] {
	background-image: url(badge_rsvp_1.png);
}
.user_profile_badge[data-badge=rsvp_2] {
	background-image: url(badge_rsvp_2.png);
}
.user_profile_badge[data-badge=conversationalist_1] {
	background-image: url(badge_conversationalist_1.png);
}
.user_profile_badge[data-badge=conversationalist_2] {
	background-image: url(badge_conversationalist_2.png);
}
.user_profile_badge[data-badge=sticker_collector_1] {
	background-image: url(badge_sticker_collector_1.png);
}
.user_profile_badge[data-badge=sticker_collector_2] {
	background-image: url(badge_sticker_collector_2.png);
}
.user_profile_badge[data-badge=sticker_maniac_1] {
	background-image: url(badge_sticker_maniac_1.png);
}
.user_profile_badge[data-badge=sticker_maniac_2] {
	background-image: url(badge_sticker_maniac_2.png);
}
.user_profile_badge[data-badge=likes_1] {
	background-image: url(badge_likes_1.png);
}
.user_profile_badge[data-badge=likes_2] {
	background-image: url(badge_likes_2.png);
}
.user_profile_badge[data-badge=supporter_1] {
	background-image: url(badge_supporter_1.png);
}
.user_profile_badge[data-badge=supporter_1] {
	background-image: url(badge_supporter_1.png);
}
.user_profile_badge[data-badge=supporter_2] {
	background-image: url(badge_supporter_2.png);
}
.user_profile_badge[data-badge=supporter_3] {
	background-image: url(badge_supporter_3.png);
}
.user_profile_badge[data-badge=supporter_4] {
	background-image: url(badge_supporter_4.png);
}
.user_profile_badge[data-badge=big_support_1] {
	background-image: url(badge_big_support_1.png);
}
.user_profile_badge[data-badge=big_support_2] {
	background-image: url(badge_big_support_2.png);
}
.user_profile_badge[data-badge=artist_1] {
	background-image: url(badge_artist_1.png);
}
.user_profile_badge[data-badge=artist_2] {
	background-image: url(badge_artist_2.png);
}
.user_profile_badge[data-badge=sand_mandala] {
	background-image: url(badge_sand_mandala.png);
}
@media only screen and (max-width: 512px)
{
	.user_profile_badge {
		width: calc(50% - 0.4rem);
		padding-bottom: calc(calc(50% - 0.4rem) / 2);
	}
}
