{% extends 'layout.html' %}
{% block title %}About{% endblock %}
{% block content %}
	<h1>About</h1>
	<div class="about_me">
		<p>This is the stock about page of persephone.</p>
		<p>Normally this is where you would put a little bit of info about yourself.</p>
	</div>
	<div class="about_persephone">
		<img src="{{ url_for('persephone.static', filename='persephone_128.png') }}">
		<p><a href="https://github.com/secretisdead/persephone">persephone</a> is a media archive (with other cool stuff) written by secret.<p>
		<p>If you like it and want to support its development, stop by secret's <a href="https://patreon.com/secret">Patreon</a> or <a href="https://liberapay.com/secret">Liberapay</a>. Or you can <a href="https://ko-fi.com/secret">buy him caffeine</a>.</p>
		<p>Thanks for leaving this section on the about page if you did! 🙌</p>
	</div>
{% endblock %}
