<table>
	<caption>Management mode</caption>
	<tbody>
		<tr>
			<td>
				Management mode is a special state which allows you to select multiple media by their thumbnails and apply actions to them. Management mode requires JavaScript and is available to managers on any media search page and to contributors viewing their own media.
			</td>
		</tr>
		<tr>
			<td>
				Toggle management mode by clicking "Management" in the topmenu, or by pressing "E" on the keyboard. You can leave management mode either by toggling normally or by pressing "Escape" on the keyboard.
			</td>
		</tr>
		<tr>
			<td>
				Most management actions should be self-explanatory, and have counterparts on the individual media edit pages, but note that because management mode is based around being able to select multiple media <strong>the state of the forms that appear in management mode do not reflect the current state of any media selected</strong>. E.g. if you select a media which is currently Protection:Private and then click Protection in the management drawer, <strong>the protection form may show the initial selection of the pulldown as something other than Protection:Private</strong>.
			</td>
		</tr>
		<tr>
			<td>
				Always pay attention to the actual media you're selecting.
			</td>
		</tr>
	</tbody>
</table>
