<form id="media_preferences">
	<legend>Preferences</legend>
	<label for="media_preference_blacklisted_tags">Hide media with these tags (&#x23; separated)</label>
	<textarea id="media_preference_blacklisted_tags"></textarea>
	<br>
	<button id="media_preference_restore_default_blacklisted_tags">Restore default blacklisted tags</button>
	<br>
	<input 
		id="media_preference_hide_blacklisted" 
		name="media_preference_hide_blacklisted" 
		type="checkbox">
	<label for="media_preference_hide_blacklisted">Hide blacklisted media entirely</label>
	<br>
	<input 
		id="media_preference_previewable_blacklist" 
		name="media_preference_previewable_blacklist" 
		type="checkbox">
	<label for="media_preference_previewable_blacklist">Hover blacklisted media to preview</label>
	<br>
	<input 
		id="media_preference_jumbo_thumbnails" 
		name="media_preference_jumbo_thumbnails" 
		type="checkbox">
	<label for="media_preference_jumbo_thumbnails">Jumbo thumbnails</label>
	<br>
	<input 
		id="media_preference_uncropped_thumbnails" 
		name="media_preference_uncropped_thumbnails" 
		type="checkbox">
	<label for="media_preference_uncropped_thumbnails">Uncropped thumbnails</label>
	<br>
	{#TODO auto slideshow
	<label for="media_preference_slideshow_delay">Slideshow delay (in sec)</label>
	<input 
		id="media_preference_slideshow_delay" 
		type="text">
	<br>
	#}
	<input 
		id="media_preference_fit_media_vertically" 
		name="media_preference_fit_media_vertically" 
		type="checkbox">
	<label for="media_preference_fit_media_vertically">Fit media vertically</label>
	<br>
	<input 
		id="media_preference_show_unlike_button" 
		name="media_preference_show_unlike_button" 
		type="checkbox">
	<label for="media_preference_show_unlike_button">Show unlike button</label>
	<br>
	{% if g.persephone_config['optional_packages']['stickers'] %}
		<input 
			id="media_preference_hide_stickers" 
			name="media_preference_hide_stickers" 
			type="checkbox">
		<label for="media_preference_hide_stickers">Hide stickers</label>
		<br>
	{% endif %}
	<input type="submit" value="Save changes">
</form>
