<table>
	<caption>Search help</caption>
	<tbody>
		<tr>
			<td colspan="3">
				Search for media by tag. Use "#" to separate multiple tags.
			</td>
		</tr>
		<tr>
			<td colspan="3">
				Only full tags are searchable, partial tags will return no results.
				<br><br>
				To manually search partial tags see Advanced help below.
			</td>
		</tr>
		<tr>
			<td colspan="3">
				If you have JavaScript enabled then suggestions will appear below the tag search field as you type.
				<br><br>
				Press "Enter" after typing a tag to add it to the list of tags to search. Pressing "Enter" while the search field is empty will submit the added tags to search.
			</td>
		</tr>
	</tbody>
</table>
