<table>
	<caption>Liked media</caption>
	<tbody>
		<tr>
			<td>
				You can like media by clicking the heart icon in the info bar of their view pages.
				<br><br>
				You can add additional likes to already liked media after a cooldown period.
			</td>
		</tr>
		<tr>
			<td>
				The number of likes you've given is displayed as a card on your profile, and clicking this card will take you to a searchable list of your liked media, ordered by the number of likes you've given to them.
				<br><br>
				The number of likes you've given is visible to anyone, but the searchable list of which media you've liked is visible only to yourself and managers.
			</td>
		</tr>
		<tr>
			<td>
				To unlike media you can either enable the quick unlike button in media preferences and then click the remove like icon in the info bar of media view pages, or from your liked media search click "Manage individual likes" and use the remove links there.
			</td>
		</tr>
	</tbody>
</table>
