<table>
	<caption>Features</caption>
	<tbody>
		<tr>
			<td>Help</td>
			<td>This page</td>
		</tr>
		<tr>
			<td>Slideshow</td>
			<td>Begins a slideshow of the current search results</td>
		</tr>
		<tr>
			<td>Random</td>
			<td>Changes the sort to random and begins a slideshow of the current search results</td>
		</tr>
		<tr>
			<td>RSS</td>
			<td>RSS feed of the current search if available</td>
		</tr>
		<tr>
			<td>Preferences</td>
			<td>
				If you have JavaScript enabled you can customize your preferences
				<br><br>
				<small>Options include: tags to blacklist{#TODO, slideshow auto-play duration#}, constraining media vertically in the browser, showing quick medium unlike button, and hiding stickers.</small>
			</td>
		</tr>
	</tbody>
</table>
