<nav id="topmenu">
	<a id="top_home" href="{{ url_for('persephone.home') }}">Home</a>
	<a id="top_search" href="{{ url_for('persephone.search_public_media') }}">Search</a>
	<a id="top_random" href="{{ url_for('persephone.random_public_media') }}">Random</a>
	{#TODO uncomment when tegaki is working 
	<a id="top_tegaki" href="https://tegaki.secret.graphics">Tegaki</a>
	#}
	{% if g.accounts and g.accounts.current_user %}
		{% if g.accounts.current_user.has_permission(group_names='contributor') %}
			<a id="top_upload" href="{{ url_for('persephone.upload') }}">Upload</a>
		{% endif %}
		<a id="top_settings" href="{{ url_for('accounts_signed_in.settings') }}">Settings</a>
		<a id="top_sign_out" href="{{ url_for('accounts_signed_in.sign_out') }}">Sign Out</a>
	{% endif %}
</nav>
