{% set theme_class = '' %}
{% if g.persephone_config['default_theme'] %}
	{% set theme_class = g.persephone_config['default_theme'] %}
{% endif %}
{% set media_endpoint_class = '' %}
{% if request.endpoint in [
		'persephone.search_public_media',
		'persephone.manage_media',
		'persephone.user_liked_media',
		'persephone.user_sticker_placements',
		'persephone.search_user_media',
	] %}
	{% if medium %}
		{% set media_endpoint_class = ' media_view_endpoint' %}
	{% else %}
		{% set media_endpoint_class = ' media_search_endpoint' %}
	{% endif %}
{% endif %}
{% set initial_theme_color = '#a0a0a0' %}
{% if 'initial_theme_color' in g.persephone_config and g.persephone_config['initial_theme_color'] %}
	{% set initial_theme_color = g.persephone_config['initial_theme_color'] %}
{% endif %}

<!doctype html>
<html 
	lang="en" 
	data-endpoint="{{ request.endpoint }}" 
	class="{{ theme_class }}{{ media_endpoint_class }}">
	<head>
		{% block head %}
			<meta charset="utf-8">
			<meta 
				name="viewport" 
				content="width=device-width, initial-scale=1.0, maximum-scale=4.0, minimum-scale=1.0, user-scalable=1.0">
			<meta name="twitter:site" content="@secretisdead">
			<meta property="og:site_name" content="{{ g.persephone_config['site_name'] }}">
			<meta name="theme-color" content="{{ initial_theme_color }}">
			{% if g.persephone_config['google_verification'] %}
				<meta name="google-site-verification" content="{{ g.persephone_config['google_verification'] }}">
			{% endif %}
			{% block meta %}{% endblock %}
			<title>
				{% block title %}{% endblock %}
				{% if self.title() %} - {% endif %}{{ g.persephone_config['site_title'] }}
			</title>
			{% if g.persephone_config['site_favicon_png_uri'] %}
				{% set favicon_png_uri = g.persephone_config['site_favicon_png_uri'] %}
			{% else %}
				{% set favicon_png_uri = g.persephone_config['static_custom_uri'].format('favicon.png') %}
			{% endif %}
			<link 
				rel="shortcut icon" 
				type="image/png" 
				href="{{ favicon_png_uri }}"/>
			{% if g.persephone_config['site_favicon_ico_uri'] %}
				{% set favicon_ico_uri = g.persephone_config['site_favicon_ico_uri'] %}
			{% else %}
				{% set favicon_ico_uri = g.persephone_config['static_custom_uri'].format('favicon.ico') %}
			{% endif %}
			<link 
				rel="shortcut icon" 
				type="image/x-icon" 
				href="{{ favicon_ico_uri }}"/>
			<style 
				type="text/css">
				@import '{{ g.persephone_config['static_persephone_uri'].format(
					'links/secretgraphics/theme.css',
				) }}';
			</style>
			{% for file in [
					'general',
					'forms',
					'tables',
					'accounts',
					'groups',
					'badges',
					'comments',
					'media',
					'tags',
					'stickers',
					'scripts',
				] %}
				{% set modified_time = g.persephone['get_file_modified_time'](
					[
						'persephone',
						'views',
						'static',
						'links',
						'secretgraphics',
						file + '.css',
					]
				)|int|string %}
				<link 
					rel="stylesheet" 
					type="text/css" 
					href="{{ g.persephone_config['static_persephone_uri'].format(
						'links/secretgraphics/' + file + '.css?v=' + modified_time,
					) }}">
			{% endfor %}
			{% block styles %}{% endblock %}
			{% set modified_time = g.persephone['get_file_modified_time'](
				[
					'static',
					'links',
					'custom.css',
				]
			)|int|string %}
			<link 
				rel="stylesheet" 
				type="text/css" 
				href="{{ g.persephone_config['static_custom_uri'].format(
					'links/custom.css?v=' + modified_time,
				) }}">
			<script type="text/javascript">
				'use strict';
				function change_theme(theme) {
					for (let i = document.documentElement.classList.length - 1; i > -1; i--) {
						let value = document.documentElement.classList[i];
						if ('theme_' == value.substr(0, 6)) {
							document.documentElement.classList.remove(value);
						}
					}
					document.documentElement.classList.add(theme);
				}
				document.documentElement.classList.add('scripts_enabled');
				let theme_preference = localStorage.getItem('theme');
				if (theme_preference) {
					change_theme(theme_preference);
				}
				let background_color = getComputedStyle(
					document.documentElement
				).getPropertyValue('--background');
				document.querySelector('meta[name="theme-color"]').content = background_color;
			</script>
			<script 
				type="text/javascript" 
				src="{{ g.persephone_config['static_persephone_uri'].format(
					'scripts/string_format.js',
				) }}"></script>
			{% block scripts %}{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% block body %}
			<div id="wrapper">
				{% include 'topmenu.html' %}
				<div id="content">
					<div{% if request.endpoint %} class="{{ request.endpoint.replace('.', '-') }}"{% endif %}>
						{% block content %}{% endblock %}
					</div>
				</div>
			</div>
		{% endblock %}
		<script type="module">
			'use strict';
			import { fuzzy_time_localization_en, fuzzy_local_dates } from '{{ g.persephone_config['static_persephone_uri'].format(
				'scripts/time.js',
			) }}';
			import { SequenceNavigation } from '{{ g.persephone_config['static_persephone_uri'].format(
				'scripts/sequence_navigation.js',
			) }}';
			fuzzy_local_dates(fuzzy_time_localization_en);
			new SequenceNavigation(document.querySelector('.prev'), document.querySelector('.next'));
		</script>
		<script type="text/javascript">
			setTimeout(() => {
				document.documentElement.classList.add('loading_finished');
			}, 250);
		</script>
		{% if g.persephone_config['google_analytics'] %}
			<script type="text/javascript">
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
				ga('create', '{{ g.persephone_config['google_analytics'] }}', 'auto');
				ga('send', 'pageview');
			</script>
		{% endif %}
	</body>
</html>
